.foot-min{
    filter: grayscale(100%);
    border: 2px rgb(63, 93, 105) solid;
    width: 26px; 
    height: 26px;
    border-radius: 50%;
}

.ArgProgLogo-mini{
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 10px;
    color: #000000;
    font-size: large;
    border: 2px black solid;
    background-color: rgb(218, 218, 218);
}