.logo {
    /*atributos de tamaño*/
    width: 120px;
    height: auto;

    /*atributos esteticos*/
    padding: 20px 5px 20px 5px;
    border: 2px #2e264b solid;
    border-radius: 20%;
    background-color: #000000;
    filter: contrast(100%) brightness(110%);
}