<div class="bg-dark">
  <!--HEADER Bootstrap: Cabezera de la página-->
  <app-header></app-header>

  <!--Seccion: Presentacion-->
  <app-presentacion></app-presentacion>

  <!--Seccion: Acerca De-->
  <app-acerca-de></app-acerca-de>

  <!--Seccion: Experiencia-->
  <app-experiencia></app-experiencia>

  <!--Seccion: Educación-->
  <app-educacion></app-educacion>

  <!--Seccion: Hard & Soft Skills-->
  <app-skills></app-skills>

  <!--Seccion: Proyectos-->
  <app-proyectos></app-proyectos>

  <!--Seccion: Footer - Pie de Página-->
  <app-footer></app-footer>
</div>