.contenedor-skills{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin-inline-start: -5%;
    margin-inline-end: 5%; 
}

.contenedor-sub-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes progress {
    0% { --percentage: 0; }
    100% { --percentage: var(--value); }
}
  
@property --percentage {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}
  
.progressbar{
    --percentage: var(--value);
    --primary: rgb(114, 35, 124);
    --secondary: rgb(102, 102, 102);
    --size: 230px;
    animation: progress 2s 0.5s forwards;
    width: var(--size);
    aspect-ratio: 2 / 1;
    border-radius: 50% / 100% 100% 0 0;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.progressbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: conic-gradient(from 0.75turn at 50% 100%, var(--primary) calc(var(--percentage) * 1% / 2), var(--secondary) calc(var(--percentage) * 1% / 2 + 0.1%));
    mask: radial-gradient(at 50% 100%, white 55%, transparent 55.5%);
    mask-mode: alpha;
    -webkit-mask: radial-gradient(at 50% 100%, #0000 55%, #000 55.5%);
    -webkit-mask-mode: alpha;
}
.progressbar::after {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--primary);
}